/*Import fonts*/
@import url(https://fonts.googleapis.com/css?family=Lato:300italic);

/*Import partials*/
@import 'moviesearch'
@import 'watchlist'

/*Import Libraries*/
@import 'reset'

/*Import loader*/
@import '../bower_components/SpinKit/css/spinners/3-wave.css'

body, html
  height 100%
  min-height 100%
  background-color rgb(21, 38, 53)

.ui-notification
  font-family Lato, sans-serif