#watchlist
  display: flex
  flex-direction: column
  .row
    justify-content: center
    min-width: 100%
    margin-bottom: 0.5%
    ul
      min-width: 100%
      display: flex
      flex-direction: row
      li
        box-sizing: border-box
        margin: 0 0.25%
        width: 12%
        .container_movie
          height: 100%
          background-size: cover
          background-position: center
          span
            width 100%
            display inline-block
          img
            width: 100%
            opacity: 0