block footer
	// import libraries
	footer
		script(src="bower_components/angular/angular.min.js")
		script(src="bower_components/angular-animate/angular-animate.min.js")
		script(src="bower_components/angular-material/angular-material.min.js")
		script(src="bower_components/angular-aria/angular-aria.min.js")
		script(src="bower_components/ngFitText/dist/ng-FitText.min.js")
		script(src="bower_components/angular-ui-notification/dist/angular-ui-notification.min.js")
		script(src="https://use.fontawesome.com/b2333b76c8.js")

		// import custom
		script(src="javascripts/minified.jsconcat.js")