block content
	#moviesearch_container(ng-controller='moviesearchCtrl')
		input#search_input(ng-model='searchquery', ng-change='createList(searchquery)', ng-model-options='{debounce: 1000}', placeholder='Search for a movie')
		md-progress-linear(md-mode='indeterminate', ng-show='showProgress')
		span(ng-show='noResult') No results found.
		ul(ng-cloak='showResult')
			li.search_results(ng-repeat="movie in movies | orderBy: '-release_date'  track by $index")
				.movie_info
					span.title {{movie.title}}
					span.release_date {{movie.release_date}}
					img.poster(ng-src='{{movie.poster_path}}')
					.movie_options
						.slide
							span.movie_option
								span
									i.fa.fa-question-circle(aria-hidden='true', ng-click='toggleDisplay($index)')
								span
									i.fa.fa-plus-circle(aria-hidden='true')
				.container_additional_information(ng-show='toggleSsomething')
					.additional_info(ng-show='$index === model.displayedIndex')
						i.fa.fa-times-circle(aria-hidden='true', ng-click='toggleDisplay($index)')
						span {{movie.overview}}