doctype html
html(ng-app='movieSeat')
	head
		title= title
		// Libraries
		link(rel='stylesheet', href='/bower_components/angular-material/angular-material.css')
		// Custom
		link(rel='stylesheet', href='/stylesheets/compiled.css')
	body
		include index.jade
		include footer.jade
