block content
    div#menu(ng-controller="loginCtrl")
        a(href='/')
            h1#logo Movieseat
        span#signoutBtn(ng-show="identity.isAuthenticated()", ng-click="signOut()") Sign out
        div#login_container(ng-hide="identity.isAuthenticated()")
            div#user
                div.overlay(ng-show="overlaySignIn", ng-click="showSignIn = !showSignIn;  overlaySignIn = !overlaySignIn;")
                div.overlay(ng-show="overlaySignUp", ng-click="showSignUp = !showSignUp;  overlaySignUp = !overlaySignUp;")

                span#loginBtn(ng-click="showSignIn = !showSignIn; overlaySignIn = !overlaySignIn") Login
                span#signupBtn(ng-click="showSignUp = !showSignUp; overlaySignUp = !overlaySignUp") Sign up

                form(ng-show="showSignIn")
                    div.facebook
                        span
                            i.fa.fa-facebook
                            a(href='/auth/facebook') Login with facebook
                    div
                        h1 OR
                        input(placeholder="Email", ng-model="username")
                        input(placeholder="Password", type="password", ng-model="password")
                    button(ng-click="showSignIn = !showSignIn;  overlaySignIn = !overlaySignIn; signIn(username, password)") Login

                form(autocomplete='off', ng-show="showSignUp", ng-controller="userRegisterCtrl")
                    div.facebook
                        span
                            i.fa.fa-facebook
                            a(href='/auth/facebook') Sign up with facebook
                    div
                        h1 OR
                        input(placeholder="User name", ng-model="username")
                        input(placeholder="Password", type="password", ng-model="password")
                        button(ng-click="showSignUp = !showSignUp;  overlaySignUp = !overlaySignUp; register(username, password)") Sign up!
